body {
   /* background-image: linear-gradient(to top, orange, rgba(255, 255, 0, 0.777));*/
   background-color: orange;
   text-align: center;
}

/*.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input{
    border-radius: 10px;
}*/


.form {
    padding: 20px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input {
    border: 2px solid orange;
    display: block;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    padding: 10px;
}

.form-control i {
    position: absolute;
    top: 45px;
    right: 10px;
    visibility: hidden;
}
.card-cadastro{
    margin-left: auto;
    margin-right: auto; 
    width: 30%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-image: linear-gradient(to top, orange, rgba(255, 255, 0, 0.777));;
    border-radius: 20px;
    box-shadow: 0px 10px 40px yellow;
}

