@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&family=Satisfy&display=swap');

body {
    margin: 0;
    font-family: "Satisfy", sans-serif;
}

body * {
    box-sizing: border-box;
}

.main-login{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, orange, rgba(255, 255, 0, 0.777));;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1 {
    color: black;
    font-size: 3.2vw;
}

.left-login-image{
    width: 35vw;
}

.right-login{
    width: 50vw;
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-image: linear-gradient(to top, orange, rgba(255, 255, 0, 0.777));;
    border-radius: 20px;
    box-shadow: 0px 10px 40px yellow;
}

.card-login > h1 {
    color: rgba(6, 6, 6, 0.777);
    font-weight: 800;
    margin: 0;
}
.label{
    text-align: left;
}
.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 10px 0px;
}


.textfield > label{
    color: black;
    margin-bottom: 10px;
}

.textfield > input::placeholder{
    color: black;
}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: black;
    background-image: linear-gradient(to top, yellow, orange);;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px yellow;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-image: linear-gradient(to top, yellow, orange);;
    color: black;
    font-size: 12pt;
    box-shadow: 0px 10px 40px yellow;
    outline: none;
    box-sizing: border-box;
}


btn-cadastrar{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: black;
    background-image: linear-gradient(to top, yellow, orange);;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px yellow;
}

@media only scree and (max-width: 950px){
    .card-login{
        width: 85%
    }
}

@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
    }
    .left-login > h1{
        display: none;
    }

    .left-login{
        width: 100%;
        height: auto;
    }

    .right-login{
        width: 100%;
        height: auto; 
    }

    .left-login-image{
        width: 50vw;
    }

    .card-login{
        width: 90%;
    }
}